.hero {
    background-color: var(--light-gray-blue);
    padding-top: 50px;
}

.heroContent {
    display: flex;
    flex-direction: row;
    min-height: 500px;
}

.heroContent .title {
    padding-right: 25px;
}

.heroContent .title,
.heroContent .featuredImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 50%;
    position: relative;
}

.heroContent .title .projectsLink {
    width: fit-content;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
}

.heroContent .title .projectsLink a {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.1rem;
    text-decoration: none;
}

.heroContent .title .projectsLink a:hover {
    text-decoration: underline;
}

.heroContent .featuredImage {
    min-height: 350px;
}

.heroContent .featuredImage img {
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.content {
    padding: 50px 0;
}

.gallery {
    margin-top: 50px;
}

@media (max-width: 1024px) {
    .heroContent {
        flex-direction: column;
    }
}
