.container {
    max-width: 1440px;
}

.container,
.thin {
    width: 80%;
    margin: 0 auto;
}

.thin {
    max-width: 1024px;
}

@media (max-width: 1024px) {
    .container,
    .thin {
        max-width: 80%;
    }
}
