.projectGrid {
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(max(500px, (100% - 60px) / 4), 1fr)
    );
    gap: 20px;
    padding: 20px 0;
}

.projectLink {
    text-decoration: none;
    color: var(--dark-color);
}

.projectCard {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0;
    overflow: hidden;
    border-radius: 10px;
    background-color: #f7efda;
}

.projectImage {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    flex: 1;
}

.projectGrid .projectImage img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projectCard .title {
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projectCard .title h2 {
    margin: 0;
    padding: 0;
    font-size: 1.35rem;
}

@media screen and (max-width: 768px) {
    .projectGrid {
        grid-template-columns: repeat(
            auto-fill,
            minmax(max(300px, (100% - 40px) / 2), 1fr)
        );
    }

    .projectCard {
        flex-direction: column;
    }
}
