.projectGrid {
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(max(500px, (100% - 60px) / 4), 1fr)
    );
    gap: 20px;
    padding: 50px 0;
}

.projectLink {
    text-decoration: none;
    color: var(--dark-color);
}

.projectCard {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0;
    overflow: hidden;
    border-radius: 10px;
    background-color: var(--light-gray-orange);
    transition: all 1s ease-out, box-shadow 0.3s ease-in-out;
}

.projectCard:hover {
    background-position: left bottom;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
}

.projectImage {
    position: relative;
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    flex: 0 0 50%;
}

.projectGrid .projectImage img {
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.projectCard .title {
    flex: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projectCard .title h2 {
    margin: 0;
    padding: 0;
    font-size: 1.35rem;
}

@media screen and (min-width: 1024px) {
    .projectCard {
        background: linear-gradient(
            to left,
            var(--light-gray-orange) 50%,
            var(--primary-color) 50%
        );
        background-size: 200% 100%;
        background-position: 50%;
        transition: all 1s ease;
    }

    .projectCard:hover {
        background-position: left bottom;
    }

    .projectCard .title h2 {
        background-image: linear-gradient(90deg, #fff 50%, #000 50%);
        background-position: 100%;
        background-size: 200% 100%;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        transition: background-position 1s ease;
    }

    .projectCard:hover .title h2 {
        background-position: 0;
    }
}

@media screen and (max-width: 768px) {
    .projectGrid {
        grid-template-columns: repeat(
            auto-fill,
            minmax(max(300px, (100% - 40px) / 2), 1fr)
        );
    }

    .projectCard {
        flex-direction: column;
    }
}
