.buttonWrapper {
    display: flex;
}

.button {
    font-family: "Oswald", sans-serif;
    font-size: 22px;
    border: none;
    border-radius: 50px;
    padding: 0.75rem 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buttonWrapper a {
    color: white;
    text-decoration: none;
}

.primary {
    background-color: var(--primary-color);
}

.primary:hover {
    background-color: var(--primary-color-light);
}

.secondary {
    background-color: var(--secondary-color);
}

.secondary:hover {
    background-color: var(--secondary-color-light);
}

.left {
    justify-content: left;
}

.center {
    justify-content: center;
}

.right {
    justify-content: right;
}
