
.home {
    padding-bottom: 50px;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    height: 500px;
    min-height: 50vh;
}

.hero h1,
.hero h2 {
    margin: 0;
}

.hero .name {
    margin-bottom: 25px;
}

.hero .title {
    margin-bottom: 40px;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

.about img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    margin-bottom: 1rem;
}

.about .bio {
    text-align: left;
    max-width: 80%;
}

.linkCards {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

@media (max-width: 1024px) {
    .about .bio {
        max-width: 100%;
    }
    .linkCards {
        flex-direction: column;
    }
    
}
