.row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.row .formField {
    flex: 1;
}

.formField {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 5px;
    justify-content: flex-end;
}

.formField input,
.formField textarea {
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ccc;
}

.required {
    color: var(--danger-color);
}

.errorMessage {
    color: var(--danger-color);
    font-size: 0.8rem;
    background-color: #ffe6e6;
    border: 1px solid var(--danger-color);
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
        gap: 0;
    }
}
