.masonry {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-auto-rows: minmax(50px, auto);
    grid-gap: 1em;
}

.masonryItem {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.masonryItem::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay */
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.masonryItem:hover::after {
    opacity: 1;
    cursor: pointer;
}

.iconOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s;
}

.masonryItem:hover .iconOverlay {
    opacity: 1;
    z-index: 1000;
    cursor: pointer;
}

.masonryItem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lightboxOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.lightboxOverlay img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

.arrow {
    color: #fff;
    font-size: 40px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.leftArrow {
    left: 50px;
}

.rightArrow {
    right: 50px;
}

@media (max-width: 1024px) {
    .masonry {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    .arrow {
        font-size: 20px;
    }

    .leftArrow {
        left: 20px;
    }

    .rightArrow {
        right: 20px;
    }
}
